.animate-height {
    animation: slideIn 0.25s linear;
}

.animate-height-full {
    animation: slideInFull 0.25s linear forwards;
}

.animate-height-reduce {
    animation: slideInRemove 0.25s linear forwards;
}

.animate-height-full-to-reduce {
    animation: fullToZero 0.25s linear forwards;
}

.animate-slide-in-half {
    animation: fullToHalf 0.25s linear forwards;

}

@keyframes fullToHalf {
    from {
        height: calc(100% - 72px);
    }

    to {
        transform: 408px;
    }
}

@keyframes fullToZero {
    from {
        height: calc(100% - 72px);
    }
    to{
        height: 0;
    }
}

@keyframes slideInRemove {
    from {
        height: 408px;
    }
    to{
        height: 0;
    }
}

@keyframes slideIn {
    from {
        height: 0;
    }

    to {
        height: 408px;
    }
}

@keyframes slideInFull {
    from {
        height: 408px;
    }
    to {
        height: calc(100% - 72px);
    }
}
